@import url("./love.css");

/* Work Sans 100 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-100italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-100italic.woff")
			format("woff");
}
/* Work Sans 300 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local("Work Sans"), local("WorkSans"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-300.woff2")
			format("woff2"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-300.woff")
			format("woff");
}
/* Work Sans 400 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Work Sans"), local("WorkSans"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-400.woff2")
			format("woff2"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-400.woff")
			format("woff");
}
/* Work Sans 400 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-400italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-400italic.woff")
			format("woff");
}
/* Work Sans 500 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local("Work Sans"), local("WorkSans"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-500.woff2")
			format("woff2"),
		url("../node_modules/typeface-work-sans/files/work-sans-latin-500.woff")
			format("woff");
}

@keyframes swayleft {
	from {
		transform: perspective(900px) rotateY(16deg);
	}
	to {
		transform: perspective(900px) rotateY(3deg);
	}
}

@keyframes swayright {
	from {
		transform: perspective(900px) rotateY(-16deg);
	}
	to {
		transform: perspective(900px) rotateY(-3deg);
	}
}

html {
	background-color: #9e5b83;
	color: #301e2d;
	font-family: "Work Sans", sans-serif;
	font-weight: 400;
}

.animated-background {
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	position: fixed;
	right: 0px;
	top: 0px;
	user-select: none;
	z-index: -1;
}

header {
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	text-shadow: 0px 0px 10px #efefef, 0px 0px 5px #efefef, 0px 0px 2px #efefef;
}

#night-toggle-btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: block;
	height: 120px;
	position: fixed;
	left: 20px;
	top: 10px;
	width: 120px;
	z-index: 1;
}

#night-toggle-btn svg {
	display: block;
	height: 120px;
	width: 120px;
}

h1 {
	font-size: 84px;
	font-style: italic;
	font-weight: 400;
	line-height: 0.9;
	margin: 20px auto;
	max-width: 5em;
	text-align: center;
}

header p {
	font-size: 22px;
	font-style: italic;
	margin-bottom: 30px;
	margin-top: auto;
	position: relative;
	text-align: center;
}

header p::after {
	content: "";
	border-right: 3px solid #0b0512;
	border-bottom: 3px solid #0b0512;
	display: block;
	height: 15px;
	margin: 10px auto 0px;
	transform: rotate(45deg);
	width: 15px;
}

section {
	color: #efefef;
	display: flex;
	flex-direction: column;
	margin: 0px auto;
	min-height: 100vh;
	text-align: center;
	text-shadow: 0px 0px 10px #010101, 0px 0px 5px #010101, 0px 0px 2px #010101;
}

section h2 {
	column-span: all;
}

h2 {
	font-size: 64px;
	font-style: italic;
	font-weight: 100;
}

h3 {
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 0px;
}

p {
	margin: 0px auto 15px;
	max-width: 26em;
}

#who {
	align-items: center;
	justify-content: center;
	padding-top: 5vh;
	max-width: 720px;
}

#love {
	display: grid;
	grid-auto-rows: min-content;
	grid-gap: 3vw 4vw;
	grid-template-columns: 1fr 1fr;
	margin: 0px auto;
	max-width: 1080px;
}

.love-header {
	grid-column: span 2;
}

.love-section {
	min-height: 25vh;
}

.love-section a {
	color: #79e4ff;
}

#coding {
	display: grid;
	grid-auto-rows: min-content;
	grid-gap: 13vh 15vw;
	grid-template-columns: 1fr 1fr;
	margin: 0px auto;
	max-width: min(90vw, 1240px);
	padding-top: 50px;
	position: sticky;
	top: 0px;
}

.code-header {
	color: #0b0512;
	font-weight: 400;
	grid-column: span 2;
	text-shadow: 0px 0px 20px #efefef, 0px 0px 10px #efefef;
}

.code-section {
	border-radius: 4px;
}

.code-section a {
	color: #79e4ff;
}

dl {
	margin-top: 30px;
	text-align: left;
}

dt {
	margin-top: 15px;
}

footer {
	align-items: center;
	background-image: linear-gradient(to bottom, #1b0b2c, #06030a);
	color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 24px;
	padding: 15px;
	position: relative;
	min-height: 100vh;
	text-align: center;
	z-index: 2;
}

footer p {
	font-weight: 300;
	margin-bottom: 15px;
}

footer p span {
	content: url("../images/hearts/Vector.svg");
	display: inline-block;
	height: 1em;
	width: 1em;
}

footer a {
	color: inherit;
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 15px;
}

.mail-link {
	display: block;
	margin-bottom: 15px;
}

@supports (scroll-snap-type: y mandatory) {
	html {
		scroll-snap-type: y mandatory;
	}

	header,
	section {
		padding-bottom: 0px;
		scroll-snap-align: start;
	}

	header {
		min-height: 100vh;
	}

	footer {
		scroll-snap-align: end;
	}

	.main__hide-offscreen {
		overflow-x: clip;
	}
}

@media (orientation: portrait) {
	#love {
		align-content: center;
		align-content: safe center;
		grid-gap: 2vw 2vh;
		max-width: 80vw;
		padding-bottom: 20vh;
	}
	.love-section {
		min-height: auto;
	}

	#coding {
		align-content: center;
		align-content: safe center;
		max-width: 96vw;
	}

	.code-section {
		background-color: rgba(0, 0, 0, 0.33);
		padding: 10px;
	}
}

@media (max-height: 920px) and (max-width: 1080) {
	#coding {
		align-content: center;
		align-content: safe center;
		grid-gap: 2vw 2vh;
		max-width: 96vw;
	}
	.code-section {
		background-color: rgba(0, 0, 0, 0.33);
		padding: 10px;
	}
}

@media (max-width: 767px) {
	#night-toggle-btn {
		display: none;
	}

	#who {
		align-items: flex-end;
		align-items: safe flex-end;
		justify-content: flex-end;
		justify-content: safe flex-end;
		padding-top: 0px;
		width: 100vw;
	}

	#who > * {
		background-color: rgba(48, 0, 48, 0.7);
	}

	#who h2 {
		padding-bottom: 0px;
		padding-top: 0px;
		box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.2);
	}

	#love {
		background-color: rgba(48, 0, 48, 0.7);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
		display: flex;
		grid-gap: 0px;
		height: 50vh;
		margin-bottom: 50vh;
		max-width: 100vw;
		min-height: auto;
		overflow: scroll;
		padding-bottom: 0px;
	}

	.love-header {
		padding: 0px 20px;
		line-height: 1.2;
	}

	.love-header h2 {
		font-size: 52px;
	}

	.love-section {
		padding-bottom: 5px;
		padding-top: 10px;
	}

	.love-section h3 {
		margin-bottom: 5px;
	}

	#coding {
		background-color: rgba(48, 0, 48, 0.7);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
		display: flex;
		grid-gap: 0px;
		height: 60vh;
		margin-bottom: 40vh;
		max-width: 100vw;
		min-height: auto;
		overflow: scroll;
		padding-top: 0px;
	}

	.code-header {
		color: inherit;
		font-size: 48px;
		font-weight: 100;
		line-height: 1;
		padding: 5px 5px 20px;
		text-shadow: none;
	}

	.code-section {
		background-color: transparent;
	}

	section {
		max-height: 100vh;
		overflow: scroll;
		text-align: left;
		text-shadow: none;
	}

	section > * {
		width: 100%;
		margin: 0px;
		padding: 20px;
	}
}
