/** FONTS **/
/* Raleway 100 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	src: local("Raleway Thin "), local("Raleway-Thin"),
		url("../node_modules/typeface-raleway/files/raleway-latin-100.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-100.woff")
			format("woff");
}

/* Raleway 100 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 100;
	src: local("Raleway Thin italic"), local("Raleway-Thinitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-100italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-100italic.woff")
			format("woff");
}

/* Raleway 200 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 200;
	src: local("Raleway Extra Light "), local("Raleway-Extra Light"),
		url("../node_modules/typeface-raleway/files/raleway-latin-200.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-200.woff")
			format("woff");
}

/* Raleway 200 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 200;
	src: local("Raleway Extra Light italic"), local("Raleway-Extra Lightitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-200italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-200italic.woff")
			format("woff");
}

/* Raleway 300 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local("Raleway Light "), local("Raleway-Light"),
		url("../node_modules/typeface-raleway/files/raleway-latin-300.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-300.woff")
			format("woff");
}

/* Raleway 300 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 300;
	src: local("Raleway Light italic"), local("Raleway-Lightitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-300italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-300italic.woff")
			format("woff");
}

/* Raleway 400 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Raleway Regular "), local("Raleway-Regular"),
		url("../node_modules/typeface-raleway/files/raleway-latin-400.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-400.woff")
			format("woff");
}

/* Raleway 400 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 400;
	src: local("Raleway Regular italic"), local("Raleway-Regularitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-400italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-400italic.woff")
			format("woff");
}

/* Raleway 500 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local("Raleway Medium "), local("Raleway-Medium"),
		url("../node_modules/typeface-raleway/files/raleway-latin-500.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-500.woff")
			format("woff");
}

/* Raleway 500 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 500;
	src: local("Raleway Medium italic"), local("Raleway-Mediumitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-500italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-500italic.woff")
			format("woff");
}

/* Raleway 600 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 600;
	src: local("Raleway SemiBold "), local("Raleway-SemiBold"),
		url("../node_modules/typeface-raleway/files/raleway-latin-600.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-600.woff")
			format("woff");
}

/* Raleway 600 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 600;
	src: local("Raleway SemiBold italic"), local("Raleway-SemiBolditalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-600italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-600italic.woff")
			format("woff");
}

/* Raleway 700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 700;
	src: local("Raleway Bold "), local("Raleway-Bold"),
		url("../node_modules/typeface-raleway/files/raleway-latin-700.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-700.woff")
			format("woff");
}

/* Raleway 700 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 700;
	src: local("Raleway Bold italic"), local("Raleway-Bolditalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-700italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-700italic.woff")
			format("woff");
}

/* Raleway 800 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 800;
	src: local("Raleway ExtraBold "), local("Raleway-ExtraBold"),
		url("../node_modules/typeface-raleway/files/raleway-latin-800.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-800.woff")
			format("woff");
}

/* Raleway 800 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 800;
	src: local("Raleway ExtraBold italic"), local("Raleway-ExtraBolditalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-800italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-800italic.woff")
			format("woff");
}

/* Raleway 900 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-display: swap;
	font-weight: 900;
	src: local("Raleway Black "), local("Raleway-Black"),
		url("../node_modules/typeface-raleway/files/raleway-latin-900.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-900.woff")
			format("woff");
}

/* Raleway 900 Italic - latin */
@font-face {
	font-family: "Raleway";
	font-style: italic;
	font-display: swap;
	font-weight: 900;
	src: local("Raleway Black italic"), local("Raleway-Blackitalic"),
		url("../node_modules/typeface-raleway/files/raleway-latin-900italic.woff2")
			format("woff2"),
		url("../node_modules/typeface-raleway/files/raleway-latin-900italic.woff")
			format("woff");
}

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
article,
footer,
header,
nav,
section {
	border: 0;
	box-sizing: border-box;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

@media (prefers-reduced-motion: reduce) {
	* {
		transition: none !important;
	}
}
/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
