header {
	background-color: #d53b55;
	display: flex;
	flex-direction: column;
	min-height: 90vh;
}

.love-bar_button {
	color: #ffffff;
	font-size: 18px;
	margin-left: auto;
	padding: 15px 30px 15px 60px;
	position: relative;
	text-shadow: 2px 2px 2px #560e1b;
	width: auto;
}

.love-bar_button::after,
.love-bar_button::before {
	border-bottom: 1px solid #ffffff;
	box-shadow: 2px 2px 2px #560e1b;
	content: "";
	display: inline-block;
	left: 30px;
	position: absolute;
	transform-origin: center;
	width: 18px;
}
.love-interactive .love-bar_button::after,
.love-interactive .love-bar_button::before {
	transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1) 0.1s;
}

.love-bar_button::after {
	top: 22px;
}
.love-bar_button::before {
	top: 28px;
}

.love-bar_button__open::after {
	transform: rotate(45deg) translate(4px);
}

.love-bar_button__open::before {
	transform: rotate(-45deg) translate(4px);
}

.love-bar_button:active,
.love-bar_button:focus,
.love-bar_button:hover,
.love-bar_button__open {
	background-color: #560e1b;
	color: #efefef;
}

h1 {
	background-image: url("/images/minimal.full.heart.svg");
	background-position: top center;
	background-repeat: no-repeat;
	background-size: auto 20vh;
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 72px;
	font-weight: 100;
	margin: auto 20px;
	padding-top: 18vh;
	text-align: center;
	text-shadow: 1px 1px 0px rgb(130, 29, 47), 2px 2px 0px rgb(141, 33, 52),
		3px 3px 0px rgb(152, 37, 57), 4px 4px 0px rgb(163, 41, 62),
		5px 5px 0px rgb(174, 45, 68), 6px 6px 0px rgb(185, 49, 73),
		7px 7px 0px rgb(196, 53, 78), 8px 8px 0px rgb(207, 57, 83);
}

header p {
	color: #ffffff;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
	margin: 30px auto;
	max-width: 7.75em;
	text-align: center;
	text-shadow: 2px 2px 2px #560e1b;
}
