/* Work Sans 100 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("/fonts/work-sans-latin-100italic.woff2") format("woff2"),
		url("/fonts/work-sans-latin-100italic.woff") format("woff");
}
/* Work Sans 300 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-300.woff2") format("woff2"),
		url("/fonts/work-sans-latin-300.woff") format("woff");
}
/* Work Sans 400 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-400.woff2") format("woff2"),
		url("/fonts/work-sans-latin-400.woff") format("woff");
}
/* Work Sans 400 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("/fonts/work-sans-latin-400italic.woff2") format("woff2"),
		url("/fonts/work-sans-latin-400italic.woff") format("woff");
}
/* Work Sans 500 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-500.woff2") format("woff2"),
		url("/fonts/work-sans-latin-500.woff") format("woff");
}

@keyframes swayleft {
	from {
		transform: perspective(900px) rotateY(16deg);
	}
	to {
		transform: perspective(900px) rotateY(3deg);
	}
}

@keyframes swayright {
	from {
		transform: perspective(900px) rotateY(-16deg);
	}
	to {
		transform: perspective(900px) rotateY(-3deg);
	}
}

html {
	background-attachment: fixed, fixed, fixed;
	background-color: #0b0512;
	background-image: url("/images/pop.background.svg");
	color: #e4cced;
	font-family: "Work Sans", "Raleway", sans-serif;
	font-weight: 400;
	text-shadow: 0px 0px 6px #08030d, 0px 0px 2px #08030d;
}

.animated-background {
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	right: 0px;
	top: 0px;
	user-select: none;
	z-index: -1;
}

header {
	min-height: 80vh;
}

.love-bar_button {
	background-color: #0b0512;
	border-radius: 0px 0px 4px 4px;
	margin: 0px auto;
}

h1 {
	font-size: 96px;
	font-style: italic;
	font-weight: 100;
	line-height: 0.9;
	margin: 20px auto;
	max-width: 5em;
	text-align: center;
}

header p {
	font-size: 22px;
	font-style: italic;
	text-align: center;
}

section {
	animation: swayright 8.4s linear infinite alternate;
	margin: 15vh 60px 15vh auto;
	max-width: 720px;
	min-height: 60vh;
	padding: 5vh 40px;
	position: relative;
	text-align: center;
	z-index: 0;
}

section:nth-child(2n) {
	animation-name: swayleft;
	animation-delay: -1s;
	margin-right: auto;
	margin-left: 60px;
}

section::before {
	background-color: #08030d;
	background-image: url("/images/pop.background.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	bottom: 0px;
	box-shadow: 4px 0px 4px rgba(8, 3, 13, 0.4),
		-4px 0px 4px rgba(8, 3, 13, 0.4);
	content: "";
	display: block;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0px;
	transform-origin: center;
	z-index: -1;
}

section h2 {
	column-span: all;
}

h2 {
	font-size: 64px;
	font-style: italic;
	font-weight: 100;
	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 0px;
}

p {
	margin: 30px auto;
	max-width: 32em;
}

footer {
	background-color: #0b0512;
	font-size: 18px;
	padding: 10vh 30px 15vh;
	text-align: center;
}

footer p {
	font-weight: 300;
	margin-bottom: 15px;
}

footer p span {
	content: url("/images/hearts/Vector.svg");
	display: inline-block;
	height: 1em;
	width: 1em;
}

footer a {
	color: inherit;
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 15px;
}

@supports (scroll-snap-type: y mandatory) {
	html {
		scroll-snap-type: y mandatory;
	}

	header,
	section {
		padding-bottom: 0px;
		position: relative;
		scroll-snap-align: start;
	}

	header {
		min-height: 100vh;
	}

	section {
		animation-name: none;
		margin-bottom: 40vh;
		scroll-margin-top: 20vh;
		transition: transform 0.3s cubic-bezier(0.06, 0.64, 0, 0.79);
	}

	section:nth-child(2n) {
		animation-name: none;
	}

	section::before {
		transition: transform 0.3s cubic-bezier(0.06, 0.64, 0, 0.79);
	}

	footer {
		scroll-snap-align: end;
	}

	.main__hide-offscreen {
		overflow-x: clip;
	}

	.section__offscreen {
		transform: translateX(720px) rotateY(45deg);
	}
	.section__offscreen:nth-child(2n) {
		transform: translateX(-720px) rotateY(-45deg);
	}

	.section__offscreen:nth-child(n)::before {
		transform: translateX(720px) perspective(900px) rotateY(90deg);
	}
	.section__offscreen:nth-child(2n)::before {
		transform: translateX(-720px) perspective(900px) rotateY(-90deg);
	}

	.section__current::before {
		animation: swayright 4.8s linear infinite alternate;
		transform: translateX(0px) perspective(900px) rotateY(-10deg);
	}

	.section__current:nth-child(2n):before {
		animation-name: swayleft;
		transform: translateX(0px) perspective(900px) rotateY(10deg);
	}

	section:nth-of-type(2n) {
		margin-left: 60px;
		margin-right: auto;
	}
}
