/* Work Sans 100 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 100;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("/fonts/work-sans-latin-100italic.woff2") format("woff2"),
		url("/fonts/work-sans-latin-100italic.woff") format("woff");
}
/* Work Sans 300 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 300;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-300.woff2") format("woff2"),
		url("/fonts/work-sans-latin-300.woff") format("woff");
}
/* Work Sans 400 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-400.woff2") format("woff2"),
		url("/fonts/work-sans-latin-400.woff") format("woff");
}
/* Work Sans 400 Italic - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	font-style: italic;
	src: local("Work Sans Italic"), local("WorkSans-Italic"),
		url("/fonts/work-sans-latin-400italic.woff2") format("woff2"),
		url("/fonts/work-sans-latin-400italic.woff") format("woff");
}
/* Work Sans 500 - latin */
@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-display: swap;
	font-weight: 500;
	src: local("Work Sans"), local("WorkSans"),
		url("/fonts/work-sans-latin-500.woff2") format("woff2"),
		url("/fonts/work-sans-latin-500.woff") format("woff");
}

html {
	background-attachment: fixed, fixed, fixed;
	background-color: #0b0512;
	background-image: url("/images/pop.background.svg");
	color: #e4cced;
	font-family: "Work Sans", "Raleway", sans-serif;
	font-weight: 400;
	scroll-padding: 5vh;
	scroll-snap-type: y mandatory;
	text-shadow: 0px 0px 6px #08030d, 0px 0px 2px #08030d;
}

.animated-background {
	bottom: 0px;
	left: 0px;
	overflow: hidden;
	pointer-events: none;
	position: fixed;
	right: 0px;
	top: 0px;
	user-select: none;
	z-index: -1;
}

header {
	min-height: 80vh;
}

.love-bar_button {
	background-color: #0b0512;
	border-radius: 0px 0px 4px 4px;
	margin: 0px auto;
}

h1 {
	font-size: 96px;
	font-style: italic;
	font-weight: 100;
	line-height: 0.9;
	margin: 20px auto;
	max-width: 5em;
	text-align: center;
}

header p {
	font-size: 22px;
	font-style: italic;
	margin: 30px;
	text-align: center;
}

section {
	column-gap: 30px;
	columns: 2;
	margin: 5vh auto;
	max-width: 1460px;
	min-height: 60vh;
	padding: 40px;
	text-align: center;
}

section h2 {
	column-span: all;
}

h2 {
	font-size: 64px;
	font-style: italic;
	font-weight: 100;
	margin-bottom: 15px;
}

h3 {
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 15px;
	margin-top: 0px;
}

footer {
	background-color: #0b0512;
	font-size: 18px;
	padding: 10vh 30px;
	text-align: center;
}

footer p {
	font-weight: 300;
	margin-bottom: 15px;
}

footer p span {
	content: url("/images/hearts/Vector.svg");
	display: inline-block;
	height: 1em;
	width: 1em;
}

footer a {
	color: inherit;
	display: inline-block;
	margin: 0px 10px;
	padding: 5px 15px;
}

@supports (scroll-snap-align: start) {
	header,
	section {
		scroll-snap-align: start;
	}

	footer {
		scroll-snap-align: end;
	}

	header,
	section {
		min-height: 95vh;
		padding-bottom: 0px;
		padding-top: 0px;
		position: relative;
	}
}
